*.pyc
__pycache__/*
*.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store
bokeh_output.html
*.feather
*.parquet
*.csv
.Rhistory
data/*
tmp/*
dask-worker-space/*
joblib/*
.jupyter_symlinks/*
.vscode
/utilities/globals_unsafe.py
