joblib/
dask-worker-space/
__pycache__/
.vscode/
.ipynb_checkpoints/
tmp/local_data
tmp/fsspec_cache
tmp/stash

secerets.*
bokeh_output.html

*.pyc
*.feather
*.parquet
*.csv
*.ipynb_checkpoints

.DS_Store
.Rhistory