*.pyc
__pycache__/*
*.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store
bokeh_output.html
*.feather
*.parquet
*.csv
.Rhistory
data/*
tmp/*
dask-worker-space/*
joblib/*
.jupyter_symlinks/*

/utilities/globals_unsafe.py

.python_packages
.git*
.vscode
local.settings.json
.venv